<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nocompanyname.lease.web.app.mapper.BrowsingHistoryMapper">


    <select id="getPage" resultMap="HistoryItemVoMap">
        SELECT bh.id   AS browsing_history_id,
               bh.room_id,
               bh.user_id,
               bh.browse_time,
               bh.room_number_snapshot,
               bh.rent_snapshot,
               bh.apartment_name_snapshot,
               bh.province_name_snapshot,
               bh.city_name_snapshot,
               bh.district_name_snapshot,
               bh.cover_url_snapshot,
               CASE
                   WHEN ri.id IS NULL THEN 0 <!-- available 是 Boolean 类型，而 SQL 返回的是 0/1 -->
                   WHEN ri.is_release = 0 THEN 0
                   ELSE 1
                   END AS available, <!--这里的 available 也可以不是表字段，它也是查询结果里的临时列名 -->
               CASE
                   WHEN ri.id IS NULL THEN '房间不存在或已删除'
                   WHEN ri.is_release = 0 THEN '房间已下架'
                   END AS unavailable_reason <!-- 有autoMapping = "true",因此 不用手动匹配 属性名unavailableReason 和 SQL查询结果的临时别名 unavailable_reason -->
                   <!-- 虽然数据库表里没有 unavailable_reason 这个字段，但查询结果集里会有这一列。
                   因为有一张虚拟的中间表。 -->
        FROM browsing_history bh
                 LEFT JOIN room_info ri
                           ON bh.room_id = ri.id AND ri.is_deleted = 0
        WHERE bh.is_deleted = 0
          AND bh.user_id = #{userId}
        ORDER BY bh.browse_time DESC, bh.id DESC
        <!--
        查询条件里不写AND ri.is_release = 1 的原因是因为，房间可能在用户浏览时已发布，之后才被下架
         如果增加：AND ri.is_release = 1，
         6月1日浏览历史，在6月10日被下架后，就会被过滤掉，浏览历史中不会显示你曾经浏览过这一条，这与“展示所有浏览历史”的目标冲突。

         而且就算写，你也应该把ri.is_release = 1写在 ON 后面，而不是WHERE后面，WHERE是针对拼接表的，会整体过滤掉一整行数据。
         -->
    </select>

    <resultMap id="HistoryItemVoMap" type="com.nocompanyname.lease.web.app.vo.history.HistoryItemVo" autoMapping="true">
        <id property="id" column="browsing_history_id"/>
        <collection property="roomGraphVoList" ofType="com.nocompanyname.lease.web.app.vo.graph.GraphVo" select="selectGraphVoByRoomId" column="room_id"/>
    </resultMap>

    <select id="selectGraphVoByRoomId" resultType="com.nocompanyname.lease.web.app.vo.graph.GraphVo">
            SELECT
                gi.name,
                gi.url
            FROM graph_info gi
            WHERE gi.is_deleted = 0
            AND gi.item_type = 2
            AND gi.item_id = #{roomId}
            ORDER BY gi.id
    </select>
</mapper>
